/*=======================
    VARIABLES COLORES
=======================*/
:root {
    --color-principal: #000000;
    --color-nav: #5e5b5b;
    --letra-principal: "Stack Sans Text", sans-serif;
}

/*===========
    General
============*/
body {
    display: flex;
    flex-direction: column;
    font-family: var(--letra-principal);
    color: var(--color-principal);
}

/*===========
    Header
===========*/

nav img {
    border-radius: 5px;
}

nav {
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding-bottom: 2px;
}

.menu-nav {
    display: flex;
    gap: 50px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
a li {
    list-style: none;
    font-size: 20px;
    padding: 0px 1px;
    border-bottom: 1px solid;
    transition: 0.3s;
}

.menu-nav a {
    text-decoration: none;
    color: var(--color-nav);
    display: flex;
    align-items: center;
    justify-content: center;

    /* Transición más lenta */
    transition: 
        color 1s ease,
        transform 1s ease,
        font-size 1s ease;
}

.menu-nav a:hover {
    color: var(--color-principal);
}

.pantalla:hover {
    border-bottom-color: var(--color-principal);
}

.menu-nav a:hover {
    color: var(--color-principal);
    font-size: 22px;        /* agranda un poco la letra */
    transform: scale(1.1);  /* zoom suave */
}


/*===================
    Main (general )
=====================*/

.imagen-principal {
    width: 100%;
    border-radius: 4px;
}

#contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.carta-producto {
    width: 280px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
     /* Fondo con degradado suave */
    background: linear-gradient(135deg, #ffffff, #f3f3f3);
    border-radius: 12px;
    /* Sombra suave */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    /* Suavidad en hover */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.carta-producto:hover {
    transform: scale(1.05); /* se agranda un 5% */
    box-shadow: 0 6px 16px rgba(0,0,0,0.25); /* sombra más fuerte */
    cursor: pointer;
}

.carta-producto img {
    width: 100%;
    height: 100%;
}

.carta-producto h5,
.carta-producto p {
    margin: 3px;
}


/*=====================
    Main (consultar id)
=======================*/

#getProducts-form {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 30px;
}

.boton-submit {
    font-size: 16px;
    background: transparent;
    border: 2px solid #000;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.boton-submit:hover {
    background-color: #000;
    color: #fff;
    transform: scale(1.05); /* agranda el botón */
    font-size: 17px; /* agranda la letra */
}

/*=======================
    Main (crear product)
========================*/

.products-form-amplio {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

.products-form-amplio input,
.formInput {
    width: 250px;
}

.formInput {
    display: flex;
    align-items: center;
    gap: 6px;
}

/*==========================
    Main (modificar product)
==========================*/

.contenedor-productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#listado-productos {
    width: 320px;
    padding-left: 0px;
     /* Fondo con degradado suave */
    background: linear-gradient(135deg, #ffffff, #f3f3f3);
    border-radius: 12px;
    /* Sombra suave */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    /* Suavidad en hover */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.li-listados,
.li-botonera {
    list-style: none;
}

.li-listados img {
    width: 100%;
}

.li-listados p{
    margin-left: 10px;
}

.li-botonera {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*formulario*/

#contenedor-formulario {
    display: flex;
    flex-direction: column;
}

#contenedor-formulario input,
#contenedor-formulario select {
    padding: 8px;
    border: 1px solid #aaa;
    border-radius: 6px;
}

#contenedor-formulario input[type="submit"] {
    background: #000;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease;
}

#contenedor-formulario input[type="submit"]:hover {
    background: #333;
    transform: scale(1.03);
    cursor: pointer;
}


/*============
    Footer 
============*/

footer {
    display: flex;
    justify-content: center;
    font-size: 50px;
}